library/wsdl/transaction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:tns="http://localhost:50003"
			 targetNamespace="http://localhost:50003">

	<!-- Types -->
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:50003">
			<element name="TransactionRequest">
				<complexType>
					<sequence>
						<element name="Name" type="string"/>
						<element name="CreditCardDetails" type="string"/>
						<element name="expiry" type="string"/>
					</sequence>
				</complexType>
			</element>

			<element name="TransactionResponse">
				<complexType>
					<sequence>
						<element name="approved" type="boolean"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>

	<!-- Message -->
	<message name="isTransactionApprovedRequest">
		<part name="parameters" element="tns:TransactionRequest"/>
	</message>

	<message name="isTransactionApprovedResponse">
		<part name="parameters" element="tns:TransactionResponse"/>
	</message>

	<!-- Port Type -->
	<portType name="TransactionServicePortType">
		<operation name="isTransactionApproved">
			<input message="tns:isTransactionApprovedRequest"/>
			<output message="tns:isTransactionApprovedResponse"/>
		</operation>
	</portType>

	<!-- Binding -->
	<binding name="TransactionServiceSOAPBinding" type="tns:TransactionServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="isTransactionApproved">
			<soap:operation soapAction="http://localhost:50003/isTransactionApproved"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<!-- Service -->
	<service name="TransactionService">
		<port name="TransactionServicePort" binding="tns:TransactionServiceSOAPBinding">
			<soap:address location="http://localhost:50003"/>
		</port>
	</service>

</definitions>