library/wsdl/transaction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" ...>
	<wsdl:types>
		<xsd:schema
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://your.namespace">
			<xsd:complexType name="TransactionRequest">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string" />
					<xsd:element name="CreditCardNumber" type="xsd:string" />
					<xsd:element name="ExpiryDate" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TransactionResponse">
				<xsd:sequence>
					<xsd:element name="Approved" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:service name="TransactionService">
		<wsdl:port name="TransactionPort" binding="tns:TransactionBinding">
			<wsdl:soapbinding transport="http://schemas.xmlsoap.org/soap/http" />
			<wsdl:operation name="IsTransactionApproved">
				<wsdl:input message="tns:IsTransactionApprovedRequest">
					<wsdl:soapbody use="literal" parts="tns:TransactionRequest" />
				</wsdl:input>
				<wsdl:output message="tns:IsTransactionApprovedResponse">
					<wsdl:soapbody use="literal" parts="tns:TransactionResponse" />
				</wsdl:output>
			</wsdl:operation>
		</wsdl:port>
	</wsdl:service>
	<wsdl:message name="IsTransactionApprovedRequest">
		<wsdl:part name="TransactionRequest" element="http://your.namespace:TransactionRequest" />
	</wsdl:message>
	<wsdl:message name="IsTransactionApprovedResponse">
		<wsdl:part name="TransactionResponse" element="http://your.namespace:TransactionResponse" />
	</wsdl:message>
	<wsdl:binding name="TransactionBinding" type="tns:Transaction">
		<wsdl:soapbinding style="document" />
	</wsdl:binding>
	<wsdl:portType name="Transaction">
		<wsdl:operation name="IsTransactionApproved">
			<wsdl:input message="tns:IsTransactionApprovedRequest" />
			<wsdl:output message="tns:IsTransactionApprovedResponse" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>